.marker {
  width: 48px;
  background-color: white;
  padding: 4px;
  font-size: 18px;
  border: 1px solid black;
  border-radius: 3px;
  text-align: center;
}

.marker.selected {
  background-color: yellow;
  border-color: black;
}
